header 
    .navegacion
        .container-fluid
            .row.justify-content-around.align-items-center.py-4
                .col-2
                    a(href="/")
                        img(src="/img/logo.png", alt="Logo" class="img-fluid logo")
                        
                .col-6.col-md-10
                    nav.nav.justify-content-end.flex-column.flex-md-row.text-center
                        a.nav-link(href="/nosotros" class=(ruta === "/nosotros" ? 'active' : '') ) Nosotros
                        a.nav-link(href="/viajes" class=(ruta === "/viajes" ? 'active' : '') ) Viajes
                        a.nav-link(href="/testimoniales" class=(ruta === "/testimoniales" ? 'active' : '') ) Testimonials
                        
                        

                        
