@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);

/*>────BASE  ────────────────────────────────────────────────────────────────────────────────── */
:root {
    --main-color:hsl(195, 70%, 22%);
    --sec-color:rgb(54, 211, 203);
}
 *, *::after , *::before {z-index: 100;}
body ,html {
    font-family: 'Lato';
    letter-spacing: 2px;
    overflow-x: hidden;
    
}
h1, h2, h3 {
    /* font-family: 'Staatliches', cursive; */
    color: var(--main-color);
}
h1 {
    font-size: 3.4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 3rem;
}

/*> ──── Components ────────────────────────────────────────────────────────────────────────────────── */
.btn-success {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
    padding: .8rem 0;
    text-transform: uppercase;
    border-radius: .3srem;
}
.btn-success:hover,.btn-success:active,.btn-success:focus {
    background-color: var(--sec-color) !important;
    border-color: var(--sec-color);
    box-shadow: none !important;
    filter: brightness(150%);
}

.logo{
    max-width: 75px;
}

/*>──── HOME  ────────────────────────────────────────────────────────────────────────────────── */
.slider {
    /* background: url(../img//superior.jpg); */
    min-height: 600px;
    height: 100vh;
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
/*> Text-Hero-Header */
.slider h1 {
    color: white;
}
.slider em {
    font-family:"Dancing Script" ;
    font-weight: 700;
    font-size: calc(5em);
    text-align: center;
    order: -1;
    line-height: .8;
    color: rgb(255, 255, 255);
}


/* Slide BG */
video{
    position: absolute;
    min-width: 100%;
    min-height: 10%;
}

@media (max-width:608px) {
    .slider em {
        font-size: 15vw;
    }
}
.home {
    position: relative;
}
.home .navegacion {
    /* background: rgba(0, 96, 121, 0.918); */
    background: linear-gradient( to left , rgba(14, 134, 170, 0.548),  rgba(15, 121, 112, 0.438));
    /* linear-gradient(to right, black 0%, white 100%) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-link.active {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
    border-bottom: 1px solid rgb(54, 211, 203);
}
/* Links FX */
.nav-link{position: relative;}
.nav-link:before, .nav-link:after{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}
.nav-link:before{
    left: 0px;
    top: 0px;
}

.nav-link:after{
    right: 0px;
    bottom: 0px;
}
.nav-link:hover:before,  .nav-link:hover:after{
    opacity: 1;
    width: 100%;
}


blockquote {
    font-weight: bold;
    line-height: 2;
}
p {
    font-size: 1.2rem;
    line-height: 2;
}
.navegacion {
    background-color: var(--main-color);
}
header .nav a {
    font-size: 1.4rem;
    color: white;
}
footer .nav a,.copyright {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(49, 49, 49);
}
@media (max-width:800px) {
    header .nav a ,footer .nav a,.copyright {
        font-size: 3vw;
    }
     
}

/*> ────Nosotros  ────────────────────────────────────────────────────────────────────────────────── */

.listado-iconos {
    background-color: rgb(245, 245, 245);
}
.listado-iconos img {
    height: 100px;
}

/*> ──── Viajes  ────────────────────────────────────────────────────────────────────────────────── */

.descuento {
    height: 400px;
    background-image: linear-gradient( rgba(13, 64, 105, 0.842) 0%,  rgba(15, 121, 112, 0.89) 100%),  url(../img/cupon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fecha-desc:after{
    content: "";
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 90%;
    border: .7px solid white;
}
@media (min-width:768px) { /* desktop */
    .descuento {        
        height: 400px;
        background-image:  linear-gradient(
            to right, 
            rgba(24, 104, 170, 0.76) 0%, 
            rgba(0, 185, 169, 0.767) 50%, 
            transparent 50%, 
            transparent 100%
        ), url(../img/cupon.jpg);
    }
    
}

.descuento .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: white;
}
.descuento h3 {
    font-size: calc(3.5em - 2vw);
    color: white;
    font-weight: 800;
}
.descuento p {
    line-height: .8;
}
.descuento .titulo {
    font-size: 2.4rem;
}
.descuento .precio {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.proximos-viajes p {
    font-size: .9rem;
}
i {
    color: var(--sec-color);
    font-size: 2rem;
}

/*> ──── Testimoniales ────────────────────────────────────────────────────────────────────────────────── */

.testimoniales p{
    font-size: .8rem;
    font-weight: normal;
}
.testimoniales p::before {
    background-image: url(../img/quote.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 1rem;
}
.blockquote-footer {
    text-align: right;
    color: var(--sec-color);
    font-weight: bold;
    margin-top: 1rem;
}
