@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);


/*>────BASE  ────────────────────────────────────────────────────────────────────────────────── */
:root {
    /* font-family: 'Staatliches', cursive; */
    /* font-family: 'Covered By Your Grace', cursive; */
    font-family: 'Open Sans', sans-serif;

    --main-color:rgb(53, 48, 59);
    --sec-color:rgb(54, 211, 203);
    
    
}
body {
    font-family: 'Open Sans', sans-serif;
    
}
h1, h2, h3 {
    /* font-family: 'Staatliches', cursive; */
    color: var(--main-color);
}
h1 {
    font-size: 3.4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 3rem;
}

/*> ──── Components ────────────────────────────────────────────────────────────────────────────────── */
.btn-success {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
    padding: .8rem 0;
    text-transform: uppercase;
    border-radius: .8rem;
}
.btn-success:hover {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}

.logo{
    max-width: 200px;
}

/*>──── HOME  ────────────────────────────────────────────────────────────────────────────────── */
.slider {
    background: url(../img//superior.jpg);
    min-height: 600px;
    height: 100vh;
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
/*> Text-Hero-Header */
.slider h1 {
    color: white;
}
.slider em {
    font-family: nunito Sans;
    font-size: calc(4rem - 2vw);
    order: -1;
    line-height: .8;
    color: rgba(255, 255, 255, 0.562);
}

@media (min-width:768px) {
    .slider em {
        font-size: 5rem;
    }
}
.home {
    position: relative;
}
.home .navegacion {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-link.active {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
    border-bottom: 1px solid rgb(54, 211, 203);

}
blockquote {
    font-weight: bold;
    line-height: 2;
}
p {
    font-size: 1.2rem;
    line-height: 2;
}
.navegacion {
    background-color: var(--main-color);
}
header .nav a {
    font-size: 1.4rem;
    color: white;
}
footer .nav a,
.copyright {
    font-size: 1.6rem;
    color: rgb(49, 49, 49);
}

/*> ────Nosotros  ────────────────────────────────────────────────────────────────────────────────── */

.listado-iconos {
    background-color: rgb(245, 245, 245);
}
.listado-iconos img {
    height: 100px;
}

/*> ──── Viajes  ────────────────────────────────────────────────────────────────────────────────── */

.descuento {
    height: 400px;
    background-image: linear-gradient( rgba(24, 104, 170, 0.5) 0%,  rgba(0, 209, 192, 0.5) 100%),  url(../img/cupon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width:768px) {
    .descuento {
        
        height: 400px;
        background-image:  linear-gradient(
            to right, 
            rgba(24, 104, 170, 0.5) 0%, 
            rgba(0, 185, 170, 0.678) 50%, 
            transparent 50%, 
            transparent 100%
        ), url(../img/cupon.jpg);
    }
    
}
.descuento .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: white;
}
.descuento h3 {
    font-size: calc(3.5em - 2vw);
    color: white;
    font-weight: 800;
}
.descuento p {
    line-height: .8;
}
.descuento .titulo {
    font-size: 2.4rem;
}
.descuento .precio {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.proximos-viajes p {
    font-size: .9rem;
}
i {
    color: var(--sec-color);
    font-size: 2rem;
}

/*> ──── Testimoniales ────────────────────────────────────────────────────────────────────────────────── */

.testimoniales p{
    font-size: .8rem;
    font-weight: normal;
}
.testimoniales p::before {
    background-image: url(../img/quote.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 1rem;
}
.blockquote-footer {
    text-align: right;
    color: var(--sec-color);
    font-weight: bold;
    margin-top: 1rem;
}
