//- Extends exporta el componente o block hacía donde lo declaremos en este caso layou

extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="" class="img-fluid")

            .col-md-7
                //- p #{pagina}
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat recusandae, laudantium nulla perferendis, enim amet esse eaque commodi placeat, voluptatem porro dolore suscipit consectetur animi a! Quo, excepturi sapiente!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat recusandae, laudantium nulla perferendis, enim amet esse eaque commodi placeat, voluptatem porro dolore suscipit consectetur animi a! Quo, excepturi sapiente! 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat recusandae, laudantium nulla perferendis, enim amet esse eaque commodi placeat, voluptatem porro dolore suscipit consectetur animi a! Quo, excepturi sapiente!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente fugit aspernatur.

                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente fugit aspernatur.

                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente fugit aspernatur.

                    










